.textBlock{
    display: flex;
    justify-content: center;
}
.text_decoration {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    cursor: pointer;
}
.text_decoration:hover {
    border: 2px solid gray;
    background-color: black;
    color: white;
}
.text_decoration.click {
    
    visibility: hidden;
}